@page "/users"
@using WebApp
@inject LoginService loginService
@inject NavigationManager Nav
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@* מודאים שרק מנהל המערכת יכול לבצע שינויים במשתמשי המערכת *@
@if (loggedUser != null && loggedUser.UserName == "admin")
{
    <h3>Users</h3>
    <p></p>
    <table class="table table-success table-bordered table-striped table-hover table-sm">
        <thead>
            @* שורת הכותרת של הטבלה *@
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>UserName</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @* לולאה שמיצרת את שורות נתוני הטבלה ממשתני הרשימה *@
            @foreach (User item in users)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>
                        <a class="btn btn-warning" href="/edit-user/@item.Id">Edit</a>
                        <button class="btn btn-danger ms-2" @onclick="() => HandleDelete(item.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @* קו שמפריד בין הטבלה לכפתורים לשם עיצוב *@
    <hr>

    <a class="btn btn-primary" href="/add-user">+Add User</a>

    <hr> 
}

@code {
    // הרשימות שמכילות את המידע שנציג בטבלה
    List<User> users = new List<User>();
    User loggedUser;
    UserService userService = new UserService();

 
    protected override async Task OnInitializedAsync()
    {
        // שליפת המשתמש המחובר מהשירות
        loggedUser = await loginService.GetLoggedUser();

        //מודאים שרק מנהל המערכת יכול לבצע שינויים במשתמשי המערכת
        if (loggedUser == null || loggedUser.UserName != "admin")
        {
            Nav.NavigateTo("/");
            return;
        }

        users = userService.GetAllUsers();
    }

    private void HandleDelete(int id)
    {
        userService.DeleteUser(id);
        users = userService.GetAllUsers();
    }

}